<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fmc.mapper.reply.ReplyMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="rno">
		INSERT INTO
			REPLY(bno,replytext,writer)
		VALUES
			(#{bno},#{replyText},#{writer})
	</insert>
	<select id="getReplyListWithBoard" resultType="com.fmc.dto.ReplyDetailDTO">
		SELECT
			r.rno,r.bno,m.mno,m.nickname,r.replytext,r.regdate AS regDate
		FROM 
			REPLY r
		JOIN
			MEMBER m
		ON
			r.writer = m.mno
		WHERE
			r.bno = #{bno}
	</select>
	<select id="getReplyListWithMember" resultType="com.fmc.dto.ReplyDetailDTO">
		SELECT
			r.rno,r.bno,m.mno,m.nickname,r.replytext,r.regdate AS regDate
		FROM 
			REPLY r
		JOIN
			MEMBER m
		ON
			r.writer = m.mno
		WHERE
			r.writer = #{mno}
		LIMIT #{cri.skip},#{cri.amount}
	</select>
	<select id="getTotalCountWithBoard" resultType="int">
		SELECT
			COUNT(*)
		FROM
			REPLY
		WHERE
			bno = #{bno};
	</select>
	<update id="update">
		UPDATE
			REPLY
		SET
			replytext = #{replyText}
		WHERE
			rno = #{rno} 
	</update>
	<delete id="deleteByRno">
		DELETE
		FROM
			REPLY
		WHERE
			rno = #{rno}
	</delete>
	<delete id="deleteByMno">
		DELETE
		FROM
			REPLY
		WHERE
			writer=#{mno}
	</delete>
	<delete id="deleteByBno">
		DELETE
		FROM
			REPLY
		WHERE
			bno=#{bno}
	</delete>
</mapper>