.login_page_wrapper {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.login_page_container {
  width: 600px;
  height: 100%;
  background-color: #3b4890;
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  padding-top: 70px;
  padding-bottom: 100px;
}
/* login_page_box 첫번째 요소 - h1의 부모 */
.login_page_box:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_page_box:nth-of-type(1) h1 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
/* login_page_box 두번째 요소 - form의 부모 */
.login_page_box:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_page_form {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_page_input_gourp {
  width: 100%;
}
.login_page_input_gourp label {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login_page_input_gourp input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.login_submit {
  width: 150px;
  height: 45px;
  background-color: white;
  border-style: none;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: 600;
}
/* login_page_box 세번째 요소 - sns 로그인 부모 */
.login_page_box:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_naver_container {
  display: block;
  text-decoration: none;
}
.login_naver_box {
  width: 350px;
  height: 50px;
  background-color: #069f62;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
}
.login_naver_box span {
  color: white;
  font-size: 17px;
}
.login_naver_box span:first-of-type {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.login_naver_box span:first-of-type {
  margin-right: 10px;
}
.login_kakao_container {
  display: block;
  text-decoration: none;
}
.login_kakao_box {
  width: 350px;
  height: 50px;
  background-color: #ffdc00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.login_kakao_box i {
  color: #3c1e1e;
  margin-right: 10px;
  font-size: 17px;
}
.login_kakao_box span {
  color: #3c1e1e;
  font-size: 17px;
}
