.my_page_admin_wrapper {
  width: 100%;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.my_page_admin_container {
  width: 600px;
  height: 100%;
  background-color: #3b4890;
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-right: 125px;
  padding-left: 125px;
}
/* my_page_admin_box 첫번째 요소 - h1의 부모 */
.my_page_admin_box:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_page_admin_box:nth-of-type(1) h1 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
/* my_page_admin_box 두번째 요소 - form의 부모 */
.my_page_admin_box:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_page_admin_input_gourp {
  width: 100%;
}
.my_page_admin_input_gourp label {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.my_page_admin_input_gourp input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

/* my_page_admin_box 세번째 요소 -  edit,delete */
.my_page_admin_box:nth-of-type(3) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_page_admin_edit_link {
  display: block;
  text-decoration: none;
}
.my_page_admin_edit_link_box {
  width: 150px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.my_page_admin_edit_link_box span {
  color: black;
  font-size: 17px;
}
.my_page_admin_delete_link {
  display: block;
  text-decoration: none;
}
.my_page_admin_delete_link_box {
  width: 150px;
  height: 50px;
  background-color: #d32f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.my_page_admin_delete_link_box span {
  color: white;
  font-size: 17px;
}

/* admin info list  */
.my_page_admin_controller_container {
  width: 100%;
  /* height: 100%; */
  margin-top: 20px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
}
.my_page_admin_controller_menu_box {
  width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}
.my_page_admin_controller_menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afa6a6;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}
.my_page_admin_controller_menu:hover {
  text-decoration: none;
  color: white;
}

.my_page_admin_controller_list_container {
  width: 1200px;
  border-top: 2px solid #3b4890;
}

.my_page_admin_controller_list_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_page_admin_controller_list_title_member {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 0.4fr;
  padding: 20px 0;
  border-bottom: 1px solid #3b4890;
}
.my_page_admin_controller_list_title_member span {
  text-align: center;
  font-weight: 600;
}
.my_page_admin_controller_list_info_member {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 0.4fr;
  padding: 20px 0;
  border-bottom: 1px solid #3b4890;
}
.my_page_admin_controller_list_info_member span,
.my_page_admin_controller_list_info_member a {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_page_admin_controller_list_info_member button {
  border-style: none;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: #3b4890;
  color: white;
}

.my_page_admin_controller_list_title_board {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 0.5fr;
  padding: 20px 0;
  border-bottom: 1px solid #3b4890;
}
.my_page_admin_controller_list_title_board span {
  text-align: center;
  font-weight: 600;
}
.my_page_admin_controller_list_info_board {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 0.5fr;
  padding: 20px 0;
  border-bottom: 1px solid #3b4890;
}
.my_page_admin_controller_list_info_board span,
.my_page_admin_controller_list_info_board a {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.my_page_admin_controller_list_info_board button {
  border-style: none;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: #3b4890;
  color: white;
}
.select {
  background-color: #3b4890;
}
