<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.fmc.mapper.member.MemberMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="mno">
		INSERT INTO
		MEMBER(email,pw,nickname,member_role)
		VALUES(#{email},#{pw},#{nickname},#{role})
	</insert>
	<select id="getMemberEmail" resultType="com.fmc.domain.MemberVO">
		SELECT 
			*
		FROM 
			MEMBER
		WHERE
			email = #{email}
	</select>
	<select id="checkMember" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			MEMBER
		WHERE email = #{email}
	</select>
	<update id="updateMember">
		UPDATE
			MEMBER
		SET
			pw=#{pw},
			nickname=#{nickname}
		WHERE
			email = #{email}
	</update>
	<delete id="deleteMember">
		DELETE
		FROM
			MEMBER
		WHERE
			email = #{email}
	</delete>
</mapper>