.my_page_edit_wrapper {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.my_page_edit_container {
  width: 600px;
  height: 100%;
  background-color: #3b4890;
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-right: 125px;
  padding-left: 125px;
}
.my_page_edit_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* my_page_box 첫번째 요소 - h1의 부모 */
.my_page_edit_box:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_page_edit_box:nth-of-type(1) h1 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
/* my_page_box 두번째 요소 - form의 부모 */
.my_page_edit_box:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_page_edit_input_gourp {
  width: 100%;
}
.my_page_edit_input_gourp label {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.my_page_edit_input_gourp input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.edit_submit {
  background-color: #d32f2f;
  border-style: none;
  padding: 15px 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
}
